# this file tells git which kind of file to ignore

# to ignore all files with suffix '.o'
*.o

# to ignore all files with suffix '.out'
# Now there aren't .out files
#*.out

# to ignore all exetutable file main
main

# to ignore all temporal vim files, suffix '.swp'
.*.swp
